* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(89, 152, 189);
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh; /* Garante o uso total da altura da tela */
    gap: 20px; /* Espaçamento global entre os elementos */
}

.title {
    text-align: center; /* Centraliza o texto do título */
    margin-bottom: 20px; /* Espaçamento específico abaixo do título */
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos de input */
}

input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
